@import url("./common.css");


$search-time: 800ms;
$reset-time: 150ms;
$color-100 : #0a4b90;
$color-200 : #98afc7;

// ====================================default mixin====================================
@mixin absolute-center {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
@mixin absolute-x($left, $top) {position: absolute;left: $left;top: $top;transform: translateX(-$left);}
@mixin absolute-y($left, $top) {position: absolute;left: $left;top: $top;transform: translateY(-$top);}
@mixin board_text {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
@mixin transition($x) {transition: $x;-webkit-transition: $x;-moz-transition: $x;-ms-transition: $x;-o-transition: $x;}
// ====================================default mixin====================================

// ====================================jj mixin====================================
@mixin fixed-layout {max-width: 1640px; margin: 0 auto; width: 100%;}
@mixin layoutBoxColor {border: 2px solid #f00;}
@mixin header-height {height: 100px;}
@mixin flexCenter { display: flex; justify-content: center; align-items: center; }

@mixin fullsize {width: 100%; height: 100%;}

// Margin
@mixin marginTop-120 {margin-top: 120px;}
@mixin marginTop-100 {margin-top: 100px;}
@mixin marginTop-70 {margin-top: 70px;}
@mixin marginTop-40 {margin-top: 40px;}
@mixin marginTop-30 {margin-top: 30px;}

// Padding
@mixin paddingTop-70 {padding-top: 70px;}
@mixin paddingTop-40 {padding-top: 40px;}


// FONT
@mixin font-M {font-family: 'Montserrat';}
@mixin font-R {font-family: 'Roboto';}

@mixin font-40 { font-size: 40px;}
@mixin font-18 { font-size: 18px; letter-spacing: -0.72px;}


@mixin section-Title-01 {font-size: 40px; font-weight: bold; line-height: 0.6; letter-spacing: -1.6px; color: #333;}
@mixin section-Title-02 { font-size: 18px; line-height: 1.33; letter-spacing: -0.72px; color: #666; }

// ====================================jj mixin====================================



// ====================================default css====================================
body {
    .lity-close {color: $color-100 !important; }
    a.a_link {
        @include transition(.15s);
        &:hover { color: $color-100; }
    }

    .btn_01 {
        @include transition(.15s);
        width: 160px; height: 50px;
        display: inline-block;
        font-size: 14px; font-weight: 600;
        
        border: 1px solid $color-100;
        background-color: $color-100;
        color: #fff; 

        span {
            @include font-M();
            @include transition(.15s);
            @include flexCenter();
            width: 100%; height: 100%;
        }
    }

    // table_공통 게시판
    #table_default {
        #table_header {
            margin: 0 auto 2rem;
            display: flex; justify-content: space-between;
            // search
            .table_text_search {
                display: flex; align-items: center;
                .search_form {
                    fieldset {
                        legend {display: none;}
                        display: flex; align-items: center;

                        // form
                        .form_02_selectbox {
                            flex-wrap: wrap;

                            select, .nice-select {
                                border: 1px solid #ddd;
                                width: 90px; height: 40px;
                                margin-right: 6px; padding-left: 14px;
                            }

                            input[type=text] {
                                height: 40px; width: 220px;
                                border: 1px solid #ddd;
                                margin-right: 6px;
                                padding: 0 10px;
                            }

                            input[type=submit] {
                                background: $color-100;
                                color: #fff;
                                border: none;
                                padding: 1rem 2rem;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

        }

        #table_body {
            width: 100%;
            line-height: 1.78;
            letter-spacing: -0.45px;
            table-layout: fixed;

            thead {
                border-top: 2px solid #333; border-bottom: 1px solid #ddd;
                @include font-18();

                tr {
                    th {
                        padding: 20px 10px; text-align: center; font-weight: 400;

                        &.table_num, &.table_state {
                            width: 10%;
                        }
                        &.table_data {
                            width: 15%;
                        }
                    }
                }
            }

            tbody {
                @include font-18();
                display: none; 

                tr {
                    border-bottom: 1px solid #ddd;

                    td {
                        padding: 20px 0; @include board_text(); text-align: center; color: #555;

                        &.table_num {
                            .type {
                                @include flexCenter();
                                width: 120px; height: 50px; margin: 0 auto;
                                border-radius: 25px; color: #333;
                                &.type_01 { background-color: $color-100; color: #fff}
                                &.type_02 { background-color: #1a3968; color: #fff}
                            }
                            
                        } 
                    }
                }

                // active, hover
                &.active { display: table-footer-group; }
            }
        }

        #table_footer {
            margin-top: 100px;
            @include flexCenter();

            .num_box {
                a {
                    @include font-M();
                    position: relative;
                    font-size: 16px; font-weight: 300; color: #333;
                    margin: 0 20px;
                    &::after {
                        content: '';
                        @include transition(.15s);
                        position: absolute; left: 50%; top: -10px; transform: translateX(-50%);
                        width: 5px; height: 5px; background-color: $color-100; border-radius: 100%;
                        opacity: 0;
                    }

                    // active
                    &.active {
                        color: $color-100; font-weight: bold;
                        &::after { opacity: 1; }
                    }
                }
            }

            .btn_box {
                display: flex;
                a {
                    display: flex; align-items: center; justify-content: center;
                    width: 20px; height: 20px;
                    margin: 0 5px; color: #666;
                }

            }
        }

    }

    // table_공통 상세보기
    .table_wrap_more {
        margin-top: 50px;

        .table_notice {
            width: 100%;
            line-height: 1.78;
            letter-spacing: -0.45px;
            table-layout: fixed;

            thead {
                letter-spacing: -0.6px;
                border-top: 1px solid #1e3c5a;
                border-bottom: 1px solid #e6e6e6;
                color: #222;
                font-size: 1.8rem;

                tr {
                    th {
                        padding: 20px;
                    }

                    td {
                        a {
                            display: block;
                        }
                    }

                    .table_notice_title {
                        font-size: 2rem;
                        width: auto;
                        text-align: left;
                        vertical-align: middle;
                    }

                    .table_notice_data {
                        font-size: 1.4rem;
                        width: 20%;
                        text-align: right;
                        color: #999;
                    }

                    &:first-child {
                        font-size: 2rem;
                    }
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #e5e5e5;

                    .table_notice_detail {
                        padding: 20px;
                        font-size: 1.6rem;
                    }
                }
            }
            
        }

        .table_notice_more {
            margin-top: 40px;
            display: flex;
            justify-content: flex-end;

            >a {
                font-size: 1.6rem;
                display: inline-block;
                padding: 10px 26px;
                color: #fff;
                transition: all .3s;
                background: $color-100;

                &:hover {
                    color: #fff;
                    background: rgba($color: $color-100, $alpha: .5);
                }
            }
        }
    }

    #search_box_popup {
        z-index: 99999;
        width: 90vw; height: 90vh;
        overflow: auto;
        padding: 100px; background: #fff;
        button[type=submit] {
            background-color: $color-100;
            border: none
        }
        .product-inner {
            img {width: 200px; height: 200px; object-fit: cover;}
        }
    }
}
// ====================================default css====================================


// ========================== header, footer ==========================
body {

    #header {
        @include header-height();
        @include transition(.3s);
        position: fixed; left: 0;top: 0; z-index: 9990;
        width: 100%; 
        background: rgba($color: #fff, $alpha: 0);
        a {color: rgba($color: #fff, $alpha: 1);}

        // active
        &.active {
            background: rgba($color: #fff, $alpha: .8);
            backdrop-filter: blur(20px);
            a { color: #333; }

            .header_wrap {
                .header_right {
                               
                    .header_lang  {
                        > ul {
                            .fixed_lang {
                                border-bottom: 1px solid #666;
                            }
                            .more_lang {
                                a { color: #fff; }
                            }
                        }
                    }
                    .header_ham {
                        span {
                            border-bottom: 1px solid #333;
                        }
                    }
                }
            } 
            
            
            
        }


        .header_wrap {
            height: 100%;
            display: flex; align-items: center;
            margin: 0 auto; padding: 0 80px;
            border-bottom: 1px solid #ddd;

            // logo
            .header_left {
                @include transition(.3s);
                max-width: 120px; z-index: 1;
                a {
                    display: block; width: 100%;
                    img { width: 100%; }
                }
            }

            // center_menu
            .header_center {
                @include header-height();
                @include transition(.3s);
                display: flex; justify-content: center; visibility: visible;
                margin-left: auto; margin-right: 120px;
                

                // .header_bg {
                //     @include transition(.3s);
                //     position: absolute; left: 0; top: 0; z-index: -1;
                //     background: rgba($color: #fff, $alpha: 1);
                //     width: 100%;
                //     margin-top: 110px;
                //     // height: calc(190px - 70px);
                //     height: 282px;
                //     display: none;
                // }


                >li {
                    @include transition(.3s);
                    position: relative;
                    @include font-18();
                    margin-left: 60px;

                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     left: 0;
                    //     bottom: 0;
                    //     height: 1px;
                    //     width: 100%;
                    //     background: $color-100;
                    //     opacity: 0;
                    //     @include transition(.3s);
                    // }



                    >a {
                        @include flexCenter();
                        @include transition(.15s);
                        position: relative;
                        width: 100%; height: 100%;
                        font-weight: 500;
                        &:hover { color: $color-100; }
                    }

                    .depth_01 {
                        display: none;
                        position: absolute; left: 50%; top: 100%; transform: translateX(-50%);
                        background-color: $color-100;
                        padding: 30px 50px; text-align: center; 
                        li {
                            @include transition(.3s);
                            margin-bottom: 15px;
                            &:last-child {margin-bottom: 0}
                            a {
                                @include transition(.15s);
                                @include font-18();
                                white-space: nowrap;
                                font-weight: 400; color: #a2acb7; 
                                &:hover { color: #fff; font-weight: bold;}
                            }
                        }
                    }
                }

                .depth_01 {
                    // display: none;
                }

                // header_center effect
                // .depth_01.active {display: block;}
                // .header_bg.active {display: block;}
            }

            // header_right
            .header_right {
                @include transition(.3s);
                display: flex;
                align-items: center;
                z-index: 1;
                
                // header_right effect
                &.active {
                    span:nth-of-type(1) {
                        transform: rotate(45deg);
                        top: calc(50% - 1px);
                    }

                    span:nth-of-type(2) { opacity: 0; }

                    span:nth-of-type(3) {
                        transform: rotate(-45deg);
                        bottom: calc(50% - 1px);
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                    }
                }

                .header_lang {
                    margin-right: 60px;
                    > ul {
                        position: relative;
                        font-size: 14px; font-weight: 500;
                        
                        .fixed_lang {
                            display: flex; align-items: center;
                            border-bottom: 1px solid #ddd;
                            padding: 0 0 5px 5px;
                            ion-icon {
                                padding-left: 20px;
                                width: 12px; height: 12px;
                                color: #666;
                            }
                        }

                        .more_lang {
                            display: none;
                            position: absolute; left: 50%; top: 100%; transform: translateX(-50%);
                            width: 100%; padding: 10px 0; text-align: center;
                            background: $color-100;
                            > a {
                                display: block;
                                margin-bottom: 8px;
                                &:last-child {margin-bottom: 0;}
                            }
                        }
                    }

                }

                // header_ham
                .header_ham {
                    position: relative;
                    width: 28px; height: 18px;
                    cursor: pointer;
                    &.active {
                        span {
                            &:nth-of-type(1) { top: calc(50% - 1px); transform: rotate(45deg); }
                            &:nth-of-type(2) { opacity: 0; transform: translateX(100%); }
                            &:nth-of-type(3) { bottom: calc(50% - 1px); transform: rotate(-45deg); }
                        }
                    }
                    span {
                        // 햄벅
                        position: absolute; left: 0; width: 22px; border-bottom: 2px solid #fff;
                        @include transition(.3s);
                        &:nth-of-type(1) { top: 0; }
                        &:nth-of-type(2) { top: calc(50% - 1px); }
                        &:nth-of-type(3) { bottom: 0; }
                    }
                }


            }

            // full_header
            .header_full {
                visibility: hidden; opacity: 0;
                position: fixed; left: 100%; top: 0;
                width: 100vw; height: 100vh;
                overflow: auto;
                background: #18242e;
                @include transition(.3s);

                &.active {
                    left: 0;
                    visibility: visible; opacity: 1;
                }

                .header_full_wrap {
                    margin-top: 90px;

                    a {
                        display: block;
                        transition: all .15s;
                        text-align: center;
                        line-height: 1;

                        &:hover {
                            color: $color-100;
                        }
                    }

                    .header_full_list {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        > li {
                            display: inline-block;
                            max-width: 300px;
                            width: 100%;

                            >a {
                                font-size: 5.5rem;
                                color: $color-100;
                                padding-top: 35px;
                                text-align: left;
                                transition: all .15s;

                                &:hover {
                                    opacity: .5;
                                }
                            }

                            &:nth-child(1) {
                                >a {
                                    padding-top: 0;
                                }
                            }

                            // depth_01
                            .depth_01 {
                                display: none;

                                >li {
                                    display: flex;
                                    flex-direction: column;

                                    > a {
                                        text-align: left;
                                        font-size: 4rem;
                                        padding: 15px 0 0 15px;
                                        color: #ddd;
                                        &:hover {
                                            color: rgba($color: #f5821f, $alpha: .7);
                                        }
                                    }

                                    // depth_02
                                    .depth_02 {
                                        display: flex;
                                        flex-direction: column;

                                        >li {
                                            >a {
                                                text-align: left;
                                                font-size: 2.4rem;
                                                color: #939598;
                                                transition: all .15s;
                                                padding: 15px 0 0 15px;

                                                &:hover {
                                                    color: $color-100;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }



    }

    #footer {
        background: #222;
        padding: 40px 0;
        margin-top: 120px;
        .footer_wrap {
            max-width: 1280px; margin: 0 auto;
            font-size: 14px; color: #888;

            .footer_section_01 {
                display: flex; justify-content: space-between;
                
                .footer_left {
                    > p {
                        display: inline-block;
                        margin-right: 20px;
                        &:last-child {margin-right: 0;}
                        span {
                            display: inline-block;
                            &.text_01 {
                                width: 60px;
                                font-weight: bold;}
                            &.br {
                                width: 1px; background: #888; height: 13px;
                                margin: 0 5px;
                            }

                        }
                        
                    }
                }

                .footer_right {
                    > ul {
                        .footer_logo {

                        }
                    }
                }

            }

            .footer_section_02 {
                margin-top:20px; padding-top: 20px;
                border-top: 1px solid #333;
            }
            
        }
    }
}
// ========================== header, footer ==========================




// ====================================padge css====================================
// ====================================padge css====================================
// ====================================padge css====================================
body {
    // opacity: 0;
    main {
        // INDEX MAIN
        &#main_page {
            .main_section {
                width: 100%; height: 100vh;
                /* height: 100%; */
                overflow: hidden;


                &:not(:first-child) {}

                &.main_visual {
                    
                    .mv_wrap {
                        .mv {
                            position: relative;

                            &.mv_01 {background: url("../images/main/mv_01.png") no-repeat center/cover;}
                            &.mv_02 {background: url("../images/main/mv_02.png") no-repeat center/cover;}
                            &.mv_03 {background: url("../images/main/mv_03.png") no-repeat center/cover;}
                            &.mv_04 {background: url("../images/main/mv_04.png") no-repeat center/cover;}

                            .mv_img {width: 100%;}

                            figcaption {
                                @include flexCenter();
                                width: 100%; height: 100%;

                                .mv_text {
                                    position: relative;
                                    max-width: 1480px; width: 100%; 
                                    span { 
                                        display: flex;  justify-content: center;
                                        text-align: center;
                                        &.text_01 {
                                            @include font-M();
                                            font-size: 6.4rem;
                                            font-weight: bold;
                                            letter-spacing: normal;
                                            color: #fff;
                                        }
    
                                        &.text_02 {
                                            @include font-18();
                                            margin-top: 20px; 
                                            color: #ddd;
                                        }
    
                                    }

                                }
                            }

                        }

                        
                        // pagination
                        .swiper-pagination {
                            
                            &.main_pagination  {
                                left: 50px; top: 50%; transform: translateY(-50%);
                                display: flex; flex-direction: column;
                                .swiper-pagination-bullet {
                                    width: 6px; height: 6px;
                                    border-radius: 100%;
                                    background-color: #fff;
                                    margin-bottom: 30px;
                                    &:first-child {margin-left: 0;}
                                    &.swiper-pagination-bullet-active {
                                        background: $color-100;
                                        position: relative;
                                        &::after {
                                            content: '';
                                            @include absolute-center();
                                            z-index: -1;
                                            border: 1px solid $color-100; border-radius: 100%; 
                                            width: 14px; height: 14px;
                                        }
                                    }
                                }
                            }
                            
                        }
                        // pagination

                    }
                }

                // main_section_01
                &.main_section_01 {
                    
                    .content_wrap {
                        display: flex;
                        height: 100%;
                        > figure {
                            @include flexCenter();
                            width: 100%; height: 100%;
                            text-align: center; color: #fff;
                            &.content_01 {background: url('../images/main/img_01_01.png')no-repeat center/cover ;}
                            &.content_02 {background: url('../images/main/img_01_02.png')no-repeat center/cover ;}
                            &.content_03 {background: url('../images/main/img_01_03.png')no-repeat center/cover ;}

                            &:hover {
                                a.btn_01 { 
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                            }

                            .text_01 {font-size: 4rem; font-weight: bold; line-height: 1.15; letter-spacing: -3.2px;}
                            .text_02 {
                                @include font-18();
                                margin-top: 20px;
                                line-height: 1.56; color: #ddd;
                            }
                            a.btn_01 { 
                                @include transition(.5s);
                                opacity: 0;
                                margin-top: 50px; 
                                transform: translateY(20px);
                            }
                        }
                    }
                }

                // main_section_02
                &.main_section_02 {
                    position: relative;
                    max-width: 1920px; margin: 0 auto;

                    #point_circle {
                        position: absolute; right: -40%; top: -20%; transform: translateX(-50%);
                        width: 1000px; height: 1000px;
                        .circle {
                            animation: rotateinfin 5s infinite linear;
                            transform-origin: center;
                            position: absolute; left: 0; top: 0;
                            // border: 1px solid #ddd; border-radius: 100%;
                            
                            // &::after {
                            //     content: 'asdasd';
                            //     position: absolute; left: 0; top:0;
                            //     // background: $color-100;
                            //     width: 100%; height: 100%; border-radius: 100%;
                            //     animation: rotateinfin 10s infinite linear;
                            // }

                            // &.circle_01 { border: 1px solid $color-100; } 
                            &.circle_02 {
                                margin: 70px 0 0 20px;
                                animation: rotateinfin 1s infinite linear;
                            } 
                            &.circle_03 {
                                margin: -10px 0 0 100px;
                                animation: rotateinfin 8s infinite linear;
                            } 

                            &.circle_04 {
                                margin: -200px 0 0 60px;
                                animation: rotateinfin 6s infinite linear;
                            } 
                            &.circle_05 {
                                margin: -150px 0 0 400px;
                                animation: rotateinfin 1s infinite linear;
                            } 

                        }
                    }
                    .content_wrap {
                        @include fixed-layout();
                        
                        .product_title {
                            padding-top: 140px;
                            .title_wrap {
                                .text_01 {
                                    @include font-R();
                                    font-size: 24px; font-weight: bold; color: $color-100;
                                }
                                .text_02 {
                                    margin-top: 20px;
                                    font-size: 38px; font-weight: 300; line-height: 1.37; letter-spacing: -3.04px;
                                }
                            }
                        }

                        .product_content {
                            margin-top: 60px;
                            .product_tab {
                                display: flex; justify-content: space-between;
                                > ul { 
                                    display: flex;
                                    li {
                                        a {
                                            width: 170px;
                                            background-color: #fff;
                                            border: 1px solid #ddd;
                                            color: #ddd; 

                                            &:hover, &.active {
                                                background-color: $color-100;
                                                border: 1px solid $color-100;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }

                                .arrow_wrap{
                                    width: 80px; 
                                    position: relative;
                                    .main_product_arrow {
                                        width:20px; height:20px; 
                                        transform: translateY(-50%);
                                        margin: 0;
                                        &.swiper-button-prev {background: url('../images/ico/ico_arrow_01_left.svg')no-repeat center/cover; }
                                        &.swiper-button-next { background: url('../images/ico/ico_arrow_01_right.svg')no-repeat center/cover; }
                                    }

                                    
                                    .arrow_bar {
                                        @include absolute-center();
                                        width: 1px; height: 20px;
                                        background-color: #ddd;
                                    }
                                }
                            }

                            .product_item {
                                margin-top: 40px;
                                .swiper-container {
                                    display: none;
                                    &.active {display: block}
                                    .swiper-wrapper {
                                        .swiper-slide {
                                            .img_wrap {
                                                @include flexCenter();
                                                width: 330px; height: 330px;
                                                background-color: #fff;
                                                border: 1px solid #ddd; overflow: hidden;
                                            }
                                            .text_wrap {
                                                margin-top: 20px;
                                                text-align: center;
                                                .text_01 {
                                                    @include font-18();
                                                }
                                            }

                                        }
                                    }
                                }

                            }
                        }

                    }




                }

                // main_section_03
                &.main_section_03 {
                    .content_wrap {
                        @include fullsize();
                        display: flex;
                        .left_content {
                            width: 66%;
                            background: url('../images/main/img_02_01.png')no-repeat center/cover;
                        }
                        .right_content {
                            width: 34%;
                            background-image: linear-gradient(147deg, #0a4b90 0%, #5c8fd2 100%);
                            .text_wrap {
                                @include fullsize();
                                display: flex; justify-content: center;
                                flex-direction: column;
                                padding-left: 90px;
                                p {
                                    color: #fff;
                                    &.text_01 {
                                        @include font-R();
                                        font-size: 24px; font-weight: bold;
                                    }
                                    &.text_02 {
                                        margin-top: 20px;
                                        font-size: 38px; font-weight: 300; line-height: 1.37; letter-spacing: -3.04px;
                                    }
                                }
                                .text_03 {
                                    margin-top: 60px;
                                    border: 1px solid #fff;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    

                }

                &.main_section_04 {
                    .content_wrap {
                        @include fullsize();
                        display: flex;
                        > div {
                            width: 50%;
                            &.left_content {
                                position: relative;
                                border-right: 1px solid #ddd;
                                .location {
                                    display: none;
                                    @include fullsize();
                                    // active
                                    &.active { display: block;}
                                }

                                #location_tab {
                                    position: absolute; left: 0; bottom: 0;
                                    width: 100%; height: 140px;
                                    display: flex;

                                    .tab_title {
                                        @include fullsize();
                                        @include flexCenter();
                                        flex-direction: column;
                                        width: 260px; height: 100%;
                                        background-color: $color-100;
                                        p {
                                            @include transition(.15s);
                                            margin-bottom: 15px;
                                            cursor: pointer;
                                            display: flex; align-items: center;
                                            font-size: 24px; font-weight: 500; line-height: 1.17; color: $color-200;
                                            &.active, &:hover { color: #fff; }
                                            &:last-child {margin-bottom: 0;}

                                            ion-icon {
                                                margin-left: 28px;
                                                width: 20px; height: 20px;
                                            }
                                            
                                        }
                                    }

                                    .tab_detail {
                                        display: flex; justify-content: center; flex-direction: column;
                                        width: 700px;
                                        padding-left: 60px;
                                        background-color: #fff;
                                        .detail_wrap {
                                            display: none;

                                            // active
                                            &.active {  display: block;}
                                            p {
                                                display: flex; align-items: center;
                                                @include font-18();
                                                line-height: 1.44;  color: #666;
                                                margin-bottom: 8px;
                                                &:last-child {margin-bottom: 0;}
                                                ion-icon {
                                                    width: 20px; height: 25px;
                                                    color: $color-100;
                                                    margin-right: 10px;
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                            }

                            &.right_content {
                                > div {
                                    width: 100%; height: 50%;
                                    padding: 0 80px;
                                    &.box_01 {
                                        background: url('../images/main/img_03_01.png')no-repeat center/cover;
                                        .text_wrap {
                                            display: flex; justify-content: center; flex-direction: column;
                                            height: 100%;
                                            .text_01 {
                                                font-size: 24px; font-weight: 600; letter-spacing: -1.92px; color: #fff;
                                            }
                                            .text_02 {
                                                margin-top: 10px;
                                                @include font-18(); line-height: 1.44; letter-spacing: -1.44px; color: #ddd;
                                            }
                                            .text_03 {
                                                margin-top: 60px;
                                                background-color: transparent;
                                                border: 1px solid #fff;
                                            }
                                        }
                                    }

                                    &.box_02 {
                                        display: flex; justify-content: center; flex-direction: column;
                                        .table_tit {
                                            font-size: 24px; font-weight: bold; letter-spacing: -1.92px; color: #222;
                                            text-align: left;
                                            display: flex; justify-content: space-between;
                                            a {
                                                &:hover {
                                                    ion-icon {
                                                        transform: rotate(90deg);
                                                    }
                                                }
                                                ion-icon {
                                                    @include transition(.15s);
                                                    width: 20px; height: 20px;
                                                    color: #222;
                                                }     
                                            }
                                        }
                                        table {
                                            margin-top: 40px;
                                            width: 100%;
                                            tbody {
                                                tr {
                                                    border-bottom: 1px solid #ddd;
                                                    td {
                                                        padding: 15px 0;
                                                        @include font-18(); color: #666; font-weight: 500;

                                                        &.table_title { width: 80%; }
                                                        &.table_data { width: 20%; text-align: right; }
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }
                                
                            }

                        }
                    }
                }
            }

            #footer { margin-top: 0; }
        }
    }
}
// ====================================padge css====================================
// ====================================padge css====================================
// ====================================padge css====================================















// ========================== keyframs ==========================
@keyframes rotateinfin {
    0%{transform:rotate(0); }
    100%{transform:rotate(360deg);}
}

@keyframes dash {
    90% {stroke-dashoffset: 0;}
    100% {fill: $color-100;}
}
@keyframes dotscolor {
    10% {background: red;}
    30% {background: orange;}
    50% {background: yellow;}

    70% {background: green;}
    100% {background: blue;}
}

@keyframes dotscolor_02 {
    10% {color: red;}
    30% {color: orange;}
    50% {color: yellow;}
    70% {color: green;}
    100% {color: blue;}
}

@keyframes barload {
    0% {width: 0}
    100% {width: 100%}
}
// ========================== keyframs ==========================
